@charset "UTF-8";

.loginbody{
  top:0;
 left:0;
 bottom:0;
 right:0;
  width:100%;
  height:210%;
 z-index:1200;
  opacity:0.9;
  background-color: black;
  position: absolute;
  box-shadow: 0px 0px 1px 10px white;
  display:none;
}

.logintable{
opacity:1;
top:12.5%;
left:42.5%;
z-index:1;
margin:auto;
width:260px;
height:280px;

border-spacing:0px;
background: white;
font-weight:bold;
border-radius: 12px; 
position: absolute;
}
.logintable .loginclose{
	height:20px;
    text-align: right;	
}
.closeform{
  background: white;
  color: black;
  font-weight: bold;
  margin-top:3px;
  margin-right:3px;
  border-radius: 5px;
 
  height:23px;
  width:23px;
  text-align:center;
  font-size: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.closeform:hover{
  cursor: pointer;
  background-color:black;
  color:white;
}

.tr1{
width:260px;
height:104px;
}

.tr2{
width:260px;
height:52px;
}

.tr1 td{
width:260px;
text-align: center;
}
.tr1 td input{
text-align: center;
width:220px;
height:30px;
border:none; 
background-color:#f7f7f7;
border-radius: 6px;
}
 
.tr1 td input:focus {
	text-align:left;
	width:220px;
	padding-left: 10px;
}



.tr2 td{
text-align: center;
} 

.tr2 td input{
border:none;
border-radius: 5px;
width:200px;
height:30px;
text-decoration: none;
background-color: white;
box-shadow: 2px 2px #999;
transition: all 0.5s;
cursor: pointer;
}

.tr2 td input:hover{
background-color: black;
color:white;
}

.tr2 td span{
font-size: 13px;
height:18px;
}

.tr2 td a{
height:20px;
font-size: 13px;
font-weight: bold;
}

.tr2 td a:hover{
text-decoration: underline;
}